.nav {
    height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 24px;
}

.nav ul {
    display: flex;
    justify-content: flex-start;
}

.nav li {
    list-style: none;
    padding: 0px 4px;
}

.body {
    display: flex;
}

.sideBar {
    width: 200px;
    background-color: #fff;
    padding: 12px 24px;
    height: 100vh;
}

.content {
    padding: 12px 24px;
    width: 100%;
    height: calc(100vh - 42px);
    overflow-y: scroll;
}